.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.main {
  width: 40%;
}

.number-input {
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  width: 100%;
  height: 55px;
  font-size: 1.5rem;
  text-align: end
}