.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.number-input {
  width: 30%;
  font-size: 2rem;
  text-align: end;
  padding: 0.2rem;
  border: 1px solid #000;
}

.calculation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  width: 30.5%;
  height: 30%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.calculate-button {
  height: 50px;
  font-size: 1rem;
  border: 1px solid #000;
}

.calculate-button:nth-child(17) {
  grid-column: 1 / 3;
}

.sign {
  background-color: #f4913e;
}
