.calc-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calc-button {
  height: 50px;
}

.second-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.sign {
  background-color: #f4913e;
}
